# Help: Build a 32-bit image
CONFIG_ARCH_RV32I=y
CONFIG_32BIT=y
# CONFIG_PORTABLE is not set
#CONFIG_RELOCATABLE=y
CONFIG_NONPORTABLE=y
CONFIG_MMU=y
CONFIG_RISCV_SBI=y
CONFIG_SERIAL_EARLYCON_RISCV_SBI=y
#CONFIG_SERIAL_UARTLITE=y
#CONFIG_SERIAL_UARTLITE_NR_UARTS=1
CONFIG_SERIAL_CORE=y
CONFIG_SERIAL_CORE_CONSOLE=y
CONFIG_HVC_DRIVER=y
CONFIG_HVC_RISCV_SBI=y
CONFIG_SERIAL_OF_PLATFORM=y
CONFIG_OF=y
CONFIG_RISCV_ISA_C=y
#CONFIG_TOOLCHAIN_HAS_V=n
CONFIG_RISCV_ISA_V=n
CONFIG_RISCV_ISA_V_DEFAULT_ENABLE=n
CONFIG_RISCV_ISA_ZAWRS=n
CONFIG_RISCV_ISA_ZBA=n
CONFIG_RISCV_ISA_ZBB=n
CONFIG_RISCV_ISA_ZICBOM=n
CONFIG_RISCV_ISA_ZICBOZ=n
CONFIG_TOOLCHAIN_NEEDS_EXPLICIT_ZICSR_ZIFENCEI=y
CONFIG_FPU=n
CONFIG_PRINTK_TIME=y
CONFIG_EARLY_PRINTK=y
CONFIG_SERIAL_EARLYCON=y
#CONFIG_DTC=y
#CONFIG_SERIAL_8250=y
#CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_HVC_CONSOLE=y
CONFIG_CMDLINE="console=hvc0 earlycon=sbi"
CONFIG_TIMER_OF=y
CONFIG_RISCV_TIMER=y
#CONFIG_TIMER_PROBE=y
#CONFIG_IRQCHIP=y
#CONFIG_LINUX_RAM_BASE=0x80000000
#CONFIG_LINUX_LINK_BASE=0x80040000
#CONFIG_XIP_KERNEL=y
#CONFIG_XIP_PHYS_ADDR=0x80200000
#CONFIG_MMU=n
#CONFIG_PHYS_RAM_BASE=0x80040000

# CONFIG_SERIAL_EARLYCON is not set
